.c-button {
  border: 55px solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
}

.plyr__control {
  #icon-play {
    width: 70px;
    height: 50px;
  }

  &.plyr__control--overlaid {
    width: 100px;
    height: 100px;
  }
}

.plyr__menu__container {

  [aria-checked="true"] {
    background-color: #FFFFFF;
  }

  .plyr__control.plyr__control--back, .plyr__control {
    text-transform: uppercase;
  }
}

html, body {
  font-family: sans-serif;
}

.c-btn--loop {
  background-color: transparent;
  border: none;
  position:absolute;
  top:0;
  left:0;
  padding:20px;
  z-index: 999;

  &:hover, &:focus {
    background-color: transparent;
  }

  svg {
    width: 50px;
    fill: #FF8A00;
    &:hover, &:focus {
      fill: #FFFFFF;
    }
  }
}

.plyr--hide-controls .c-btn--loop {
  opacity: 0;
  pointer-events: none;
}
