.c-button {
  border: 55px solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
}

html, body {
  font-family: sans-serif;
}

.c-btn--loop {
  background-color: transparent;
  border: none;
  position:absolute;
  top:0;
  left:0;
  padding:20px;
  z-index: 999;

  &:hover, &:focus {
    background-color: transparent;
  }

  svg {
    width: 50px;
    fill: #00B3FF;
    &:hover, &:focus {
      fill: #FFFFFF;
    }
  }
}

.plyr--hide-controls .c-btn--loop {
  opacity: 0;
  pointer-events: none;
}
